<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>@GROUPID@</groupId>
  <artifactId>@ARTIFACTID@</artifactId>
  <version>@VERSION@</version>
  <name>@NAME@</name>
  <url>http://code.google.com/p/forbidden-apis/</url>
  <packaging>maven-plugin</packaging>
  
  <parent>
    <groupId>org.sonatype.oss</groupId>
    <artifactId>oss-parent</artifactId>
    <version>7</version>
  </parent>

  <licenses>
    <license>
      <name>The Apache Software License, Version 2.0</name>
      <url>http://www.apache.org/licenses/LICENSE-2.0.txt</url>
    </license>
  </licenses>
  
  <scm>
    <connection>scm:svn:http://forbidden-apis.googlecode.com/svn/trunk/</connection>
    <developerConnection>scm:svn:https://forbidden-apis.googlecode.com/svn/trunk/</developerConnection>
    <url>http://forbidden-apis.googlecode.com/svn/trunk/</url>
  </scm>
</project>
